<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://khumalofunctionappst10343093.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/12cba583-8c58-4a50-b3ad-cab5897bf5e4/resourceGroups/ST10343093-CLDV-PART-2/providers/Microsoft.Web/sites/KhumaloFunctionAppst10343093</ResourceId>
    <UserName>$KhumaloFunctionAppst10343093</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://khumalofunctionappst10343093.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>